html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}
body {
  margin: 0
}
main {
  display: block
}
h1 {
  font-size: 2em;
  margin: .67em 0
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible
}
pre {
  font-family: monospace,monospace;
  font-size: 1em
}
a {
  background-color: transparent
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}
b,
strong {
  font-weight: bolder
}
code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
img {
  border-style: none
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}
button,
input {
  overflow: visible
}
button,
select {
  text-transform: none
}
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText
}
fieldset {
  padding: .35em .75em .625em
}
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}
progress {
  vertical-align: baseline
}
textarea {
  overflow: auto
}
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}
details {
  display: block
}
summary {
  display: list-item
}
template {
  display: none
}
[hidden] {
  display: none
}
table,
table tbody,
table tfoot,
table tfoot tr tf,
table thead,
table tr,
table tr th,
tr td {
  margin: 0;
  padding: 0;
  background: 0 0;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  background-image: none
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0
}
ul {
  list-style-type: none
}
a {
  text-decoration: none
}
button {
  background: 0 0;
  border: none;
  outline: 0;
  cursor: pointer
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Montserrat,sans-serif
}
:root {
  --container: 1280px;
  --black: #363636;
  --blue: #2980B9;
  --blue-opacity: rgba(203, 234, 255, 0.88);
  --white: #FFF;
  --white-opacity: rgba(255, 255, 255, 0.88);
  --border: #E0E0E0
}
body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: .02em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
main {
  overflow-x: hidden
}
html {
  scroll-behavior: smooth
}
.container {
  max-width: calc(var(--container) + 30px);
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0
}
p:last-child {
  margin-bottom: 0
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none
}
a {
  color: currentColor;
  text-decoration: none
}
button {
  cursor: pointer;
  outline: 0;
  border: none;
  background-color: transparent
}
img {
  display: block;
  width: 100%;
  height: 100%
}
button,
input,
select,
textarea {
  font: inherit;
  border: none;
  outline: 0
}
.h-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden
}
.header {
  padding: 24px 0;
  -webkit-box-shadow: 0 6px 34px 0 rgba(0,0,0,.1);
  box-shadow: 0 6px 34px 0 rgba(0,0,0,.1);
  background: var(--white);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10
}
.header img {
  max-width: 134px;
  margin-left: 15px
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.header__menu {
  position: relative
}
.header__menu__head {
  cursor: pointer
}
.header__menu__head svg {
  fill: var(--black);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.header__menu__head svg:hover {
  fill: var(--blue)
}
.header__menu__head_active svg {
  fill: var(--blue);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg)
}
.header__menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  background: var(--white);
  padding: 24px 0 30px;
  -webkit-box-shadow: 0 6px 34px 0 rgba(0,0,0,.1);
  box-shadow: 0 6px 34px 0 rgba(0,0,0,.1);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  visibility: hidden
}
.header__menu__body img {
  margin-bottom: 84px;
  margin-left: 0
}
.header__menu__body_pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  margin-bottom: 84px
}
.header__menu__body_pages li {
  margin-bottom: 25px
}
.header__menu__body_pages li:last-child {
  margin-bottom: 0
}
.header__menu__body_pages a {
  font-size: 15px;
  font-weight: 500;
  color: var(--black);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.header__menu__body_pages a:hover {
  color: var(--blue)
}
.header__menu__body_pages .page__active {
  color: var(--blue)
}
.header__menu__body .header__soc {
  fill: var(--black);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  margin-bottom: 50px;
  cursor: pointer
}
.header__menu__body .header__soc:hover {
  fill: var(--blue)
}
.header__menu__body .header__close {
  stroke: var(--black);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer
}
.header__menu__body .header__close:hover {
  stroke: var(--blue);
  -webkit-transform: rotateZ(180deg);
  -ms-transform: rotate(180deg);
  transform: rotateZ(180deg)
}
.header__menu__body_active {
  opacity: 1;
  max-height: 600px;
  visibility: visible
}
.header__languages {
  position: relative
}
.header__languages__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  overflow: hidden;
  padding: 5px 10px;
  background: var(--white);
  border-radius: 10px
}
.header__languages__head:hover svg {
  fill: var(--blue)
}
.header__languages__head p {
  font-size: 15px;
  font-weight: 500;
  color: var(--black)
}
.header__languages__head svg {
  fill: var(--black);
  margin-left: 10px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.header__languages__head_active {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.header__languages__head_active svg {
  fill: var(--blue);
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg)
}
.header__languages__body {
  opacity: 0;
  max-height: 0;
  visibility: hidden;
  background: var(--white);
  border-radius: 10px;
  padding: 0 10px;
  width: 100%
}
.header__languages__body p {
  font-size: 15px;
  font-weight: 500;
  color: var(--black);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer
}
.header__languages__body p:hover {
  color: var(--blue)
}
.header__languages__body a {
  font-size: 15px;
  font-weight: 500;
  color: var(--black);
  display: block
}
.header__languages__body_active {
  opacity: 1;
  visibility: visible;
  max-height: 200px;
  padding: 5px 10px;
  position: absolute;
  top: 25px;
  right: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.header__links {
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 76px
}
.header__links a {
  font-size: 15px;
  font-weight: 500;
  color: var(--black);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.header__links a:hover {
  color: var(--blue)
}
.header__links .page__active {
  color: var(--blue)
}
@media screen and (min-width:768px) {
  .header img {
    max-width: 170px
  }
}
@media screen and (min-width:992px) {
  .header__inner {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--border);
    margin-bottom: 11px
  }
  .header__menu {
    display: none
  }
  .header__logo {
    margin: 0 auto
  }
  .header__logo img {
    margin-left: 0
  }
  .header__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
}
.banner {
  padding-bottom: 30px;
  overflow: hidden
}
.banner__bgd {
  position: fixed;
  z-index: 1;
  left: -50px;
  top: 30px
}
.banner__bgd img {
  width: calc(100% + 120px)
}
@media screen and (min-width:575px) {
  .banner__bgd img {
    max-width: 500px
  }
}
.banner__bgd_none {
  display: none
}
.banner__bgd_page {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1
}
.banner__bgd_page img {
  -o-object-fit: cover;
  object-fit: cover
}
.banner__info {
  padding-top: 530px;
  position: relative;
  z-index: 5
}
.banner__info_page {
  padding-top: 210px
}
.banner__info__locate li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18px
}
.banner__info__locate li p {
  margin-bottom: 0
}
.banner__info__locate img {
  max-width: 24px;
  margin-right: 12px
}
.banner__info__locate a {
  font-size: 15px;
  color: var(--black);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.banner__info__locate a:hover {
  color: var(--blue)
}
.banner__info__locate_con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}
.banner .info__txt_inner_video {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  -webkit-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease
}
.banner .info__txt_inner_video:hover .button-hover {
  opacity: 1
}
.banner .info__txt_inner_video .video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 47px;
  height: 47px;
  z-index: 7
}
.banner .info__txt_inner_video .video__btn {
  width: 47px;
  height: 47px;
  position: relative;
  z-index: 5
}
.banner .info__txt_inner_video .button-hover {
  opacity: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 89px;
  height: 89px;
  z-index: 4
}
.banner__info__txt {
  border-radius: 10px;
  -webkit-box-shadow: 0 6px 34px 0 rgba(0,0,0,.1);
  box-shadow: 0 6px 34px 0 rgba(0,0,0,.1);
  background: var(--blue-opacity);
  padding: 20px 24px 35px;
  margin-bottom: 20px
}
.banner__info__txt:last-child {
  margin-bottom: 0
}
.banner__info__txt_map {
  padding: 0
}
.banner__info__txt_map iframe {
  width: 100%;
  height: 261px;
  border-radius: 10px
}
.banner__info__txt .contacts_h {
  margin-left: 36px
}
.banner__info__txt h1 {
  font-size: 20px;
  font-weight: 600;
  color: var(--blue);
  margin-bottom: 15px
}
.banner__info__txt h2 {
  font-size: 20px;
  font-weight: 600;
  color: var(--blue);
  margin-bottom: 15px
}
.banner__info__txt p {
  font-size: 15px;
  color: var(--black);
  margin-bottom: 15px
}
.banner__info__txt p:last-child {
  margin-bottom: 0
}
.banner__info__txt .info__txt_black {
  font-size: 16px;
  font-weight: 600;
  color: var(--black)
}
.banner__info__txt span {
  color: var(--blue);
  font-weight: 600
}
.banner__info__txt_video {
  padding: 30px 9px 35px
}
.banner__info__txt_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.banner__info__txt_inner iframe {
  width: 100%;
  max-width: 345px;
  height: 242px;
  border-radius: 10px
}
.banner__info__txt_inner .preview__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 345px;
  border-radius: 10px;
  cursor: pointer
}
.banner__info__txt_inner h3 {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
  color: var(--black)
}
@media screen and (min-width:768px) {
  .banner__info__txt_inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
  }
  .banner__info__txt_inner h3 {
    margin-left: 20px;
    margin-top: 0
  }
}
.banner__info__txt_white {
  background: var(--white-opacity)
}
@media screen and (min-width:768px) {
  .banner__info__txt {
    padding: 20px 40px 35px
  }
  .banner__info__txt h1 {
    font-size: 24px
  }
  .banner__info__txt p {
    font-size: 16px
  }
  .banner__info__txt_video {
    padding: 38px 40px
  }
  .banner__info__txt_map {
    padding: 0
  }
  .banner__info__txt_map iframe {
    height: 380px
  }
}
@media screen and (min-width:992px) {
  .banner {
    padding-top: 260px;
    padding-bottom: 60px
  }
  .banner__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
    width: 100%
  }
  .banner__bgd {
    left: auto;
    top: auto;
    bottom: 0;
    -o-object-fit: contain;
    object-fit: contain;
    height: calc(100vh - 100px);
    position: relative
  }
  .banner__bgd::after {
    content: "";
    display: block;
    width: 100%;
    background: var(--white);
    height: 75px;
    position: absolute;
    bottom: 0;
    z-index: 5
  }
  .banner__bgd img {
    width: 100%;
    max-width: 588px
  }
  .banner__info {
    padding-top: 0;
    width: 100%;
    max-width: 731px;
    margin-left: auto
  }
}
.footer {
  padding: 30px 0 15px;
  background: var(--white);
  position: relative;
  z-index: 5
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px
}
.footer__soc {
  margin-bottom: 30px
}
.footer__soc svg {
  fill: var(--black);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.footer__soc:hover svg {
  fill: var(--blue)
}
.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.footer__copyright img {
  max-width: 10px;
  margin-right: 4px
}
.footer__copyright p {
  font-size: 10px;
  color: var(--black)
}
.footer__logo {
  max-width: 170px;
  display: none
}
.footer__links {
  display: none;
  gap: 76px
}
.footer__links a {
  font-size: 15px;
  font-weight: 500;
  color: var(--black);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.footer__links a:hover {
  color: var(--blue)
}
.footer__links .page__active {
  color: var(--blue)
}
@media screen and (min-width:992px) {
  .footer {
    width: 100%;
    padding: 20px 0 15px
  }
  .footer__inner {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
  .footer__soc {
    margin-bottom: 0
  }
  .footer__logo {
    display: block
  }
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
}