html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}
body {
  margin: 0
}
main {
  display: block
}
h1 {
  font-size: 2em;
  margin: .67em 0
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible
}
pre {
  font-family: monospace,monospace;
  font-size: 1em
}
a {
  background-color: transparent
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}
b,
strong {
  font-weight: bolder
}
code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
img {
  border-style: none
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}
button,
input {
  overflow: visible
}
button,
select {
  text-transform: none
}
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText
}
fieldset {
  padding: .35em .75em .625em
}
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}
progress {
  vertical-align: baseline
}
textarea {
  overflow: auto
}
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}
details {
  display: block
}
summary {
  display: list-item
}
template {
  display: none
}
[hidden] {
  display: none
}
table,
table tbody,
table tfoot,
table tfoot tr tf,
table thead,
table tr,
table tr th,
tr td {
  margin: 0;
  padding: 0;
  background: 0 0;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  background-image: none
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0
}
ul {
  list-style-type: none
}
a {
  text-decoration: none
}
button {
  background: 0 0;
  border: none;
  outline: 0;
  cursor: pointer
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Noto Sans JP",sans-serif
}
:root {
  --container: 1240px;
  --black: #000;
  --white: #fff;
  --white-opacity: #FFFFFF80;
  --blue: #2347A3;
  --dark-blue: #02174D;
  --ocean: #32ACFF;
  --ocean-disabled: #7ECBFFCC;
  --ocean-opacity: #A4DAFFB2;
  --opacity-input-bgd: #FFFFFF4D;
  --border-input: #00000080;
  --blur: #FFFFFF26;
  --pre-grey: #B4DFFC;
  --range: #BCE4FF
}
body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: .02em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
main {
  overflow-x: hidden
}
html {
  scroll-behavior: smooth
}
.container {
  max-width: calc(var(--container) + 30px);
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0
}
p:last-child {
  margin-bottom: 0
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none
}
a {
  color: currentColor;
  text-decoration: none
}
button {
  cursor: pointer;
  outline: 0;
  border: none;
  background-color: transparent
}
img {
  display: block;
  width: 100%;
  height: 100%
}
button,
input,
select,
textarea {
  font: inherit;
  border: none;
  outline: 0
}
.h-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden
}
.header {
  padding: 15px 0;
  background: var(--black);
  border-bottom: 1px solid var(--white)
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.header img {
  max-width: 57px
}
.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px
}
.header__links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative
}
.header__links li::before {
  display: block;
  content: "";
  width: 2px;
  height: 2px;
  background: var(--white);
  border-radius: 50%;
  position: absolute;
  right: -5px;
  top: 8px
}
.header__links li:last-child::before {
  display: none
}
.header__links a {
  font-size: 7px;
  line-height: 17px;
  color: var(--white);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.header__links a:hover {
  color: var(--ocean)
}
@media screen and (min-width:375px) {
  .header__inner {
    gap: 20px
  }
  .header__links {
    gap: 16px
  }
  .header li::before {
    right: -8px
  }
  .header a {
    font-size: 8px
  }
}
@media screen and (min-width:768px) {
  .header__inner {
    gap: 100px;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left
  }
  .header img {
    max-width: 155px
  }
  .header a {
    font-size: 16px
  }
}
@media screen and (min-width:1024px) {
  .header {
    padding: 19px 0
  }
  .header a {
    font-size: 20px
  }
  .header__links {
    gap: 50px
  }
  .header__links li::before {
    right: -25px
  }
}
h1 {
  font-weight: 700;
  font-size: 9px;
  color: var(--white);
  text-align: center;
  max-width: 274px;
  margin: 0 auto;
  margin-bottom: 8px
}
@media screen and (min-width:768px) {
  h1 {
    font-size: 25px;
    max-width: none;
    margin-bottom: 50px
  }
}
@media screen and (min-width:1024px) {
  h1 {
    font-size: 30px;
    text-align: left;
    max-width: 900px;
    line-height: 48px;
    margin: 0;
    margin-bottom: 72px
  }
}
.banner {
  padding: 12px 0 20px;
  background: url(../img/bgd-banner-mob.png) no-repeat;
  background-size: cover;
  -webkit-box-shadow: 5px 4px 12px 0 #0000008C;
  box-shadow: 5px 4px 12px 0 #0000008C;
  margin-bottom: 50px
}
.banner span {
  color: var(--ocean)
}
.banner__video {
  width: 100%;
  max-width: 304px;
  height: 171px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px
}
.banner__video iframe {
  width: 100%;
  max-width: 600px
}
@media screen and (min-width:768px) {
  .banner {
    padding: 50px 0 78px;
    background: url(../img/bgd-hero-des.png) no-repeat;
    background-size: cover
  }
  .banner__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    gap: 15px
  }
  .banner__video {
    max-width: none;
    margin: 0;
    height: auto
  }
}
@media screen and (min-width:1024px) {
  .banner {
    padding: 53px 0 78px;
    margin-bottom: 100px
  }
  .banner__video {
    max-width: 746px;
    height: 420px
  }
}
.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  max-width: 180px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: var(--ocean-opacity);
  -webkit-box-shadow: 2.4690942764px 1.9752771854px 6.3208870888px 0 #0000008C;
  box-shadow: 2.4690942764px 1.9752771854px 6.3208870888px 0 #0000008C;
  padding: 10px 12px
}
.registration label {
  font-weight: 700;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 5px
}
.registration__input {
  background: var(--opacity-input-bgd);
  border: .5px solid var(--border-input);
  margin-bottom: 15px;
  padding: 7px;
  width: 100%;
  font-size: 7px;
  color: var(--black)
}
.registration__input::-webkit-input-placeholder {
  font-size: 7px;
  color: var(--black)
}
.registration__input::-moz-placeholder {
  font-size: 7px;
  color: var(--black)
}
.registration__input:-ms-input-placeholder {
  font-size: 7px;
  color: var(--black)
}
.registration__input::-ms-input-placeholder {
  font-size: 7px;
  color: var(--black)
}
.registration__input::placeholder {
  font-size: 7px;
  color: var(--black)
}
.registration button {
  width: 100%;
  background-color: var(--blue);
  border-radius: 20px;
  padding: 5px 20px;
  font-weight: 700;
  font-size: 8px;
  color: var(--white);
  border: 1px solid var(--border-input);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  margin-top: 15px
}
.registration button:hover {
  background: var(--ocean);
  border: 1px solid var(--white-opacity)
}
.registration button:disabled {
  background: var(--ocean-disabled);
  border: 1px solid var(--white-opacity)
}
@media screen and (min-width:768px) {
  .registration {
    margin: 0;
    max-width: 300px;
    padding: 30px 25px
  }
  .registration label {
    font-size: 15px;
    margin-bottom: 10px
  }
  .registration__input {
    padding: 16px 10px;
    font-size: 13px
  }
  .registration__input::-webkit-input-placeholder {
    font-size: 13px
  }
  .registration__input::-moz-placeholder {
    font-size: 13px
  }
  .registration__input:-ms-input-placeholder {
    font-size: 13px
  }
  .registration__input::-ms-input-placeholder {
    font-size: 13px
  }
  .registration__input::placeholder {
    font-size: 13px
  }
  .registration button {
    font-size: 15px;
    padding: 10px 20px
  }
}
@media screen and (min-width:1024px) {
  .registration {
    max-width: 365px;
    padding: 20px 18px 18px
  }
  .registration label {
    font-size: 20px
  }
  .registration__input {
    margin-bottom: 27px
  }
  .registration button {
    padding: 10px 20px
  }
}
.paragraph {
  padding: 40px 0 50px;
  background: url(../img/bgd-paragraph.png) no-repeat;
  background-size: cover;
  -webkit-box-shadow: 5px 4px 13 0 var(--border-input);
  box-shadow: 5px 4px 13 0 var(--border-input);
  margin-bottom: 15px
}
.paragraph h2 {
  font-weight: 700;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  color: var(--ocean);
  margin-bottom: 5px
}
.paragraph p {
  font-weight: 700;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  color: var(--white)
}
@media screen and (min-width:768px) {
  .paragraph {
    padding: 100px 0 110px
  }
  .paragraph h2 {
    font-size: 25px;
    line-height: 50px
  }
  .paragraph p {
    font-size: 20px;
    line-height: 40px
  }
}
@media screen and (min-width:1024px) {
  .paragraph {
    padding: 200px 0 110px
  }
  .paragraph h2 {
    font-size: 30px;
    line-height: 60px;
    margin-bottom: 10px
  }
  .paragraph p {
    font-size: 25px;
    line-height: 50px
  }
}
.paragraph_sec {
  padding: 60px 0 55px;
  background: url(../img/bgd-paragraph-2.png) no-repeat;
  background-size: cover;
  -webkit-box-shadow: 1.5614154339px 1.2491323948px 3.9972236156px 0 var(--border-input);
  box-shadow: 1.5614154339px 1.2491323948px 3.9972236156px 0 var(--border-input);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse
}
@media screen and (min-width:768px) {
  .paragraph_sec {
    padding: 150px 0 100px
  }
}
@media screen and (min-width:1024px) {
  .paragraph_sec {
    padding: 200px 0 135px
  }
}
.stages {
  margin-top: -50px;
  padding-bottom: 50px
}
.stages ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2,1fr);
  gap: 20px 30px
}
.stages li {
  background: url(../img/bgd-stages-1.jpg) no-repeat;
  background-size: cover;
  padding: 11px 14px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-bottom: 149px;
  min-height: 231px;
  height: 100%;
  -webkit-box-shadow: 3px 2px 7px 0 var(--border-input);
  box-shadow: 3px 2px 7px 0 var(--border-input);
  width: 100%;
  max-width: 200px;
  margin: 0 auto
}
.stages li:nth-child(2) {
  background: url(../img/bgd-stages-2.jpg) no-repeat;
  background-size: cover
}
.stages li:nth-child(3) {
  background: url(../img/bgd-stages-3.jpg) no-repeat;
  background-size: cover
}
.stages li:nth-child(4) {
  background: url(../img/bgd-stages-4.jpg) no-repeat;
  background-size: cover
}
.stages h2 {
  font-weight: 700;
  font-size: 10px;
  color: var(--blue);
  line-height: 20px;
  margin-bottom: 6px
}
.stages h2 span {
  font-size: 11px
}
.stages p {
  font-size: 7px;
  line-height: 14px
}
@media screen and (min-width:768px) {
  .stages {
    margin-top: -100px
  }
  .stages ul {
    gap: 30px
  }
  .stages li {
    max-width: 289px;
    min-height: 421px;
    padding: 20px 25px
  }
  .stages h2 {
    font-size: 18px
  }
  .stages h2 span {
    font-size: 20px
  }
  .stages p {
    font-size: 12px;
    line-height: 24px
  }
}
@media screen and (min-width:1024px) {
  .stages {
    padding-bottom: 100px
  }
  .stages ul {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4,1fr)
  }
}
.discont {
  padding: 30px 0;
  background: var(--dark-blue);
  border-bottom: 1px solid var(--white)
}
.discont h2 {
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  color: var(--white);
  margin-bottom: 20px;
  text-align: center
}
.discont h2 span {
  color: var(--ocean)
}
.discont p {
  font-size: 8px;
  line-height: 12px;
  color: var(--white)
}
.discont img {
  max-width: 620px;
  margin: 0 auto;
  -webkit-box-shadow: 5px 4px 12.8000001907px 0 var(--border-input);
  box-shadow: 5px 4px 12.8000001907px 0 var(--border-input);
  margin-bottom: 20px
}
@media screen and (min-width:768px) {
  .discont h2 {
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 30px
  }
  .discont p {
    font-size: 20px;
    line-height: 30px
  }
  .discont img {
    margin-bottom: 0;
    margin-right: 30px;
    max-width: 400px
  }
  .discont__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
}
@media screen and (min-width:1024px) {
  .discont {
    padding: 65px 0
  }
  .discont img {
    max-width: 620px
  }
}
.calculation {
  padding: 30px 0 25px;
  background: url(../img/bgd-calculation.png) no-repeat;
  background-size: cover;
  -webkit-box-shadow: 5px 4px 12.8000001907px 0 var(--border-input);
  box-shadow: 5px 4px 12.8000001907px 0 var(--border-input);
  margin-bottom: 50px
}
.calculation h2 {
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  color: var(--white);
  margin-bottom: 10px
}
.calculation p {
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  color: var(--ocean);
  margin-bottom: 25px
}
.calculation__profit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 5px
}
.calculation__profit__item {
  background: var(--blur);
  border: 1px solid var(--white);
  padding: 25px 18px 10px;
  text-align: center
}
.calculation__profit__item p {
  font-size: 15px;
  margin-bottom: 7px;
  color: var(--white);
  text-transform: uppercase;
  position: relative
}
.calculation__profit__item p::after {
  display: block;
  content: "";
  width: 50%;
  height: 1px;
  background: var(--white-opacity);
  position: absolute;
  bottom: -8px;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%)
}
.calculation__profit__item span {
  font-size: 43px;
  line-height: 65px;
  color: var(--white);
  white-space: nowrap
}
.calculation li {
  background: var(--blur);
  border: 1px solid var(--white);
  padding: 15px 18px 10px;
  margin-bottom: 20px;
  text-align: center
}
.calculation li:last-child {
  margin-bottom: 0
}
.calculation li span {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: var(--ocean);
  white-space: nowrap
}
.calculation li p {
  margin: 0;
  font-size: 10px;
  line-height: 16px;
  color: var(--white);
  position: relative;
  white-space: nowrap
}
.calculation li p::before {
  display: block;
  content: "";
  background: var(--white-opacity);
  width: 50px;
  height: 1px;
  position: absolute;
  bottom: -3px;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%)
}
@media screen and (min-width:575px) {
  .calculation__profit {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 30px
  }
}
@media screen and (min-width:768px) {
  .calculation h2 {
    font-size: 30px;
    line-height: 45px
  }
  .calculation p {
    font-size: 30px;
    line-height: 45px
  }
  .calculation__profit__item p {
    font-size: 40px;
    line-height: 60px
  }
  .calculation__profit__item span {
    font-size: 80px;
    line-height: 100px
  }
  .calculation li {
    padding: 25px 18px 20px
  }
  .calculation li span {
    font-size: 49px;
    line-height: 73px
  }
  .calculation li p {
    font-size: 30px;
    line-height: 45px
  }
  .calculation li p::before {
    width: 150px
  }
}
@media screen and (min-width:1024px) {
  .calculation {
    margin-bottom: 100px
  }
  .calculation__profit__item {
    padding: 60px 50px
  }
  .calculation li {
    padding: 40px 30px
  }
}
.register {
  padding: 30px 0 40px;
  background: url(../img/bgd-register-mob.png) no-repeat;
  background-size: cover;
  margin-bottom: 50px
}
.register__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
@media screen and (min-width:768px) {
  .register {
    padding: 60px 0 40px
  }
}
@media screen and (min-width:1024px) {
  .register {
    display: none
  }
}
.investors {
  padding: 20px 0;
  margin-bottom: 50px;
  -webkit-box-shadow: 5px 4px 12.8000001907px 0 var(--border-input);
  box-shadow: 5px 4px 12.8000001907px 0 var(--border-input);
  background: var(--dark-blue)
}
.investors__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px
}
.investors__logo {
  max-width: 141px
}
.investors form {
  display: none
}
.investors h2 {
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  color: var(--white);
  margin-bottom: 10px;
  text-align: right
}
.investors p {
  font-size: 8px;
  line-height: 8px;
  text-align: right;
  color: var(--white)
}
.investors__info img {
  max-width: 180px;
  margin-left: auto;
  margin-bottom: 15px
}
.investors ul {
  margin-top: 15px;
  text-align: right
}
.investors li {
  font-weight: 700;
  font-size: 7px;
  line-height: 11px;
  color: var(--white)
}
.investors li span {
  color: var(--ocean)
}
@media screen and (min-width:768px) {
  .investors h2 {
    font-size: 30px;
    line-height: 45px;
    text-align: center
  }
  .investors p {
    font-size: 10px;
    line-height: 15px;
    text-align: center
  }
  .investors ul {
    text-align: center
  }
  .investors li {
    font-size: 25px;
    line-height: 37px
  }
  .investors__logo {
    max-width: 200px
  }
  .investors__info img {
    max-width: 567px;
    margin: 0 auto;
    margin-bottom: 30px
  }
}
@media screen and (min-width:1024px) {
  .investors {
    padding: 50px 0;
    margin-bottom: 100px
  }
  .investors__inner {
    gap: 100px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
  .investors__logo {
    display: none
  }
  .investors form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
  .investors p {
    max-width: 600px
  }
}
.users {
  padding: 30px 0 20px;
  background: url(../img/bgd-users.png) no-repeat;
  background-size: cover;
  -webkit-box-shadow: 8.5842695236px 6.8674149513px 21.9757289886px 0 var(--border-input);
  box-shadow: 8.5842695236px 6.8674149513px 21.9757289886px 0 var(--border-input);
  margin-bottom: 50px
}
.users h2 {
  font-weight: 700;
  font-size: 10px;
  line-height: 20px;
  color: var(--ocean);
  text-align: center
}
.users__title__desc {
  font-weight: 700;
  font-size: 10px;
  line-height: 20px;
  color: var(--white);
  text-align: center;
  margin-bottom: 10px
}
.users ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2,1fr);
  gap: 20px 30px;
  margin-bottom: 26px
}
.users h3 {
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  color: var(--blue);
  text-align: center;
  margin-bottom: 5px
}
.users li {
  background: var(--white);
  padding: 10px 14px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: 5px 9px 14.8000001907px 4px #fffFFF30;
  box-shadow: 5px 9px 14.8000001907px 4px #fffFFF30
}
.users li p {
  font-size: 7px;
  line-height: 10px;
  color: var(--black);
  margin-bottom: 10px
}
.users__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: auto
}
.users__user img {
  max-width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 2.3999991417px 1.9200000763px 6.1439981461px 0 var(--border-input);
  box-shadow: 2.3999991417px 1.9200000763px 6.1439981461px 0 var(--border-input);
  margin-right: 14px
}
.users__user span {
  font-weight: 700;
  font-size: 8px;
  line-height: 11px;
  margin-bottom: 4px
}
.users__user p {
  margin-bottom: 0
}
.users button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 6px;
  color: var(--black);
  font-weight: 700;
  font-size: 6px;
  margin: 0 auto;
  width: 100%;
  max-width: 100px;
  background: var(--ocean-opacity);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  border: 1px solid var(--white-opacity);
  border-radius: 12px
}
.users button:hover {
  background: var(--ocean)
}
.users button:disabled {
  background: var(--ocean-disabled)
}
@media screen and (min-width:768px) {
  .users {
    padding: 60px 0
  }
  .users h3 {
    font-size: 30px;
    line-height: 61px
  }
  .users h2 {
    font-size: 30px;
    line-height: 61px
  }
  .users__title__desc {
    font-size: 30px;
    line-height: 61px;
    margin-bottom: 50px
  }
  .users ul {
    margin-bottom: 90px
  }
  .users li {
    padding: 20px 30px
  }
  .users li img {
    max-width: 80px;
    height: 80px;
    margin-right: 30px
  }
  .users li span {
    font-size: 16px;
    line-height: 24px
  }
  .users li p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 24px
  }
  .users button {
    padding: 20px;
    font-size: 20px;
    max-width: 341px;
    border-radius: 40px
  }
}
@media screen and (min-width:1024px) {
  .users {
    margin-bottom: 100px
  }
  .users ul {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3,1fr);
    gap: 50px 100px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
  .users li {
    height: 100%;
    max-height: 700px
  }
}
@media screen and (min-width:1300px) {
  .users li {
    height: 100%;
    max-height: 450px
  }
  .users li:nth-child(2) {
    min-height: 500px
  }
  .users li:nth-child(5) {
    min-height: 500px
  }
}
.questions__list {
  margin-top: -50px
}
.questions__list li {
  padding: 15px 20px;
  background: var(--pre-grey);
  margin-bottom: 20px;
  -webkit-box-shadow: 2.9166667461px 2.3333332539px 7.4666666985px 0 var(--border-input);
  box-shadow: 2.9166667461px 2.3333332539px 7.4666666985px 0 var(--border-input)
}
.questions__list li:last-child {
  margin-bottom: 0
}
.questions__list__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px
}
.questions__list img {
  max-width: 35px;
  border-radius: 50%;
  margin-right: 10px;
  -webkit-box-shadow: 2.9166667461px 2.3333332539px 7.4666666985px 0 var(--border-input);
  box-shadow: 2.9166667461px 2.3333332539px 7.4666666985px 0 var(--border-input)
}
.questions__list strong {
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  color: var(--blue)
}
.questions__list p {
  font-size: 9px;
  line-height: 17px;
  color: var(--black)
}
@media screen and (min-width:768px) {
  .questions__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    margin-top: -100px
  }
  .questions__list li {
    margin-bottom: 0;
    padding: 25px 30px
  }
  .questions__list__title {
    margin-bottom: 17px
  }
  .questions__list strong {
    font-size: 18px;
    line-height: 27px
  }
  .questions__list img {
    max-width: 40px;
    margin-right: 8px
  }
  .questions__list p {
    font-size: 15px;
    line-height: 30px
  }
}
@media screen and (min-width:1024px) {
  .questions__list {
    margin-top: -135px
  }
  .questions__list img {
    max-width: 50px
  }
}
.life {
  background: var(--dark-blue);
  padding: 20px 0;
  margin: 50px 0;
  -webkit-box-shadow: 5px 4px 12.8000001907px 0 var(--border-input);
  box-shadow: 5px 4px 12.8000001907px 0 var(--border-input)
}
.life h2 {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: var(--white);
  text-align: center;
  margin-bottom: 11px
}
.life button {
  background: var(--blue);
  border: 1px solid var(--white-opacity);
  padding: 7px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  width: 100%;
  max-width: 165px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  color: var(--white);
  font-weight: 700;
  font-size: 9px
}
.life button:hover {
  background: var(--ocean)
}
.life button:disabled {
  background: var(--ocean-disabled)
}
@media screen and (min-width:768px) {
  .life {
    padding: 30px 0
  }
  .life h2 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 21px
  }
  .life button {
    max-width: 460px;
    padding: 14px;
    border-radius: 40px;
    font-size: 25px
  }
}
@media screen and (min-width:1024px) {
  .life {
    margin: 100px 0 50px
  }
  .life__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 100px
  }
  .life h2 {
    margin-bottom: 0;
    text-align: left
  }
}
.footer {
  padding-bottom: 14px
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 30px
}
.footer__logo {
  max-width: 81px;
  margin-top: auto
}
.footer__certificate img {
  max-width: 46px;
  height: 21px;
  margin-bottom: 3px;
  margin-left: auto
}
.footer__certificate p {
  font-size: 6px;
  line-height: 12px;
  color: var(--black)
}
@media screen and (min-width:768px) {
  .footer {
    padding-bottom: 50px
  }
  .footer__logo {
    max-width: 181px
  }
  .footer__certificate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
  .footer__certificate img {
    max-width: 95px;
    height: 42px;
    margin-bottom: 0;
    margin-right: 20px
  }
  .footer__certificate p {
    font-size: 14px;
    line-height: 30px
  }
}
.range {
  margin-bottom: 24px
}
.range__container {
  background: var(--white);
  padding: 3px;
  height: 24px;
  border-radius: 16px
}
.range__slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: 0;
  overflow: hidden;
  border-radius: 16px;
  height: 18px;
  background: var(--white);
  border-radius: 16px
}
.range__slider::-webkit-slider-runnable-track {
  height: 17px;
  background: var(--white);
  border-radius: 16px
}
.range__slider::-moz-range-track {
  height: 17px;
  background: var(--white);
  border-radius: 16px;
  box-shadow: 5px 4px 12.8000001907px 0 var(--border-input)
}
.range__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 17px;
  width: 17px;
  background-color: var(--range);
  border-radius: 50%;
  border: 1px solid var(--blue);
  -webkit-box-shadow: -700px 0 0 695px var(--ocean);
  box-shadow: -700px 0 0 695px var(--ocean)
}
.range__slider::-moz-range-thumb {
  height: 17px;
  width: 17px;
  background-color: var(--range);
  border-radius: 50%;
  border: 1px solid var(--blue);
  box-shadow: -700px 0 0 670px var(--ocean)
}
.range__sum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: var(--range);
  border-radius: 15px;
  width: 100%;
  max-width: 60px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 2px;
  position: relative;
  -webkit-box-shadow: 5px 4px 12.8000001907px 0 var(--border-input);
  box-shadow: 5px 4px 12.8000001907px 0 var(--border-input)
}
.range p {
  font-weight: 700;
  font-size: 10px;
  color: var(--black);
  white-space: nowrap;
  margin: 0
}
.range span {
  font-weight: 700;
  font-size: 10px;
  margin-right: 3px
}
.range img {
  position: absolute;
  bottom: -4px;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  width: 5px;
  height: 5px;
  z-index: -1
}
@media screen and (min-width:768px) {
  .range__container {
    background: var(--white);
    padding: 5px;
    height: 70px;
    border-radius: 40px
  }
  .range__slider {
    height: 60px;
    border-radius: 40px;
    padding-bottom: 15px
  }
  .range__slider::-webkit-slider-thumb {
    height: 60px;
    width: 60px;
    border: 3px solid var(--blue);
    -webkit-box-shadow: -700px 0 0 670px var(--ocean);
    box-shadow: -700px 0 0 670px var(--ocean)
  }
  .range__slider::-webkit-slider-runnable-track {
    height: 45px
  }
  .range__sum {
    max-width: 110px;
    border-radius: 40px;
    height: 32px;
    margin-bottom: 15px
  }
  .range p {
    font-size: 15px
  }
  .range span {
    font-size: 12px;
    margin-bottom: -1px
  }
  .range img {
    width: 15px;
    height: 15px;
    bottom: -10px
  }
}